<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Persmetic</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>frontController</servlet-name>
    <servlet-class>kr.or.kosta.leaf.common.controller.SimpleFrontControllerServlet</servlet-class>
    <init-param>
      <param-name>controllerMapperLocation</param-name>
  <!--     <param-value>C:\Users\kosta\Dropbox\Public\Java\Model2WebStudy\WebContent\WEB-INF/controller-mapper.properties</param-value> -->
      <param-value>C:\Users\JaeHyun\Documents\Persmetic\WebContent\WEB-INF\controller-mapper.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>frontController</servlet-name>
    <url-pattern>*.leaf</url-pattern>
  </servlet-mapping>
</web-app>